@{
    ViewBag.Title = "Mail Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ContentContainer" style="min-height:500px">
    <h2>@ViewBag.Title</h2>

    <p>Thank you, your message has been sent.</p>
</div>