
@{
    ViewBag.Title = "Thanks!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ContentContainer" style="min-height:400px">
    <h2>@ViewBag.Title</h2>

    <p>Thank you so much, I really appreciate the donation. Hundreds of hours of work have gone in to this site and it's great that you've found it useful enough that you were prepared to make a donation.</p>
    <p>Donation money will most likely go towards paying for hosting costs but if theres any spare left over that'll go on coffee. Programmers still need fuel in 3300!</p>
    <p>As always if you have any suggestions feel free to contact me through the contact form in the main menu.</p>
    <p>
        Fly safe,<br />
        Sean - Cmdr Thrudd
    </p>
</div>